@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Для работы с приложением необходимо зарегистрироваться.</p>
    @{
        if (Model.IsUserAdminCandidate)
        {
            <p>Подождите пока ваша заявка будет обработана</p>
            <p>Если она будет отклонена, то вы станете клиентом</p>
        }
    }
</div>
