@page
@using RepairWeb.Data.Models
@model RepairWeb.Pages.Repair.ClientModel
@{
    @if (!Model.Requests.Any())
    {
        <p>У вас нет заявок, можете создать новую, когда что-нибудь сломается.</p>
    }
    else
    {
        <p class="text-center mb-4">Здесь собраны все ваши заявки:</p>

        <div class="container">
            <div class="row">
                @foreach (var request in Model.Requests)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Оборудование: @request.Equipment</h5>
                                <p class="card-text"><strong>Дата создания:</strong> @request.RequestDate.ToString("dd.MM.yyyy")</p>
                                <p class="card-text"><strong>Статус:</strong> @request.Status</p>
                            </div>
                            <div class="card-footer d-flex justify-content-center mt-4">
                                <a asp-page="/Client/View" asp-route-id="@request.Id" class="btn btn-primary">Детали</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <div class="d-flex justify-content-center mt-4">
        <a asp-page="/Client/Create" class="btn btn-success">Создать заявку</a>
    </div>
}

